<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Búsqueda por Categoría </title>
</head>
<body>
  <%- include ('../partials/header.ejs') %>
  <% for (let i = 0; i < productsResult.length; i++) { %>
    <ul>
        <li>
            <div class="conteiner20">
            <div class="botellas"> <!--grid-->
                            <% for (let i = 0; i < 3; i++) { %>
                            <div class="articulo-producto"> <!--card-->
                                <a href="/products/<%=productsResult[i].id%>"><img src="../images/<%=productsResult[i].imagen%>" alt="productos" class="imagen-destacados-home" > </a>
                                <div class="btn-actions">
                                <div class="prices">Nombre: <%=productsResult[i].nombre%></div>
                                <div class="prices">$<%=productsResult[i].precio%></div>
                                <div class="prices"><%=productsResult[i].descripcion%></div>
                                </div>
                            
                            <div class="boton-comprar-products">
                                <a href="/products/<%=productsResult[i]%>"><button type="submit" class="boton-comprar-products">Comprar</button></a>
                            </div>
                            </div>
                                    <% } %>
            </div>
                                
                            
        </div> 
        </li>
    </ul>
  <% } %>
  <%- include ('../partials/footer.ejs') %>       
</body>
</html>