<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
	<main>
	<h3>Cervezas</h3>			
	<div class="conteiner">
		<div class="botellas"> <!--grid-->
						<% for (let i = 0; i < cervezas.length; i++) { %>
						<div class="articulo-producto"> <!--card-->
							<a href="/products/<%=cervezas[i].id%>"><img src="../images/<%=cervezas[i].imagen%>" alt="productos" class="imagen-destacados-home" > </a>
							<div class="btn-actions">
							<div class="prices">Nombre: <%=cervezas[i].nombre%></div>
							<div class="prices">$<%=cervezas[i].precio%></div>
							<div class="prices"><%=cervezas[i].descripcion%></div>
							</div>
						
						<div class="boton-comprar-products">
							<a href="/products/<%=cervezas[i].id%>"><button type="submit" class="boton-comprar-products">Comprar</button></a>
						</div>
						</div>
								<% } %>
		</div>
							
						
	</div>    
</main>
    <%- include ('../partials/footer.ejs') %>  
</body>
</html>