<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
	<main>
	<h1 class="productosE">Cervezas</h1>			
	<div class="conteiner">
	<div class="botellas"> <!--grid-->
	
						<% cervezas.forEach(cervezas => {%>
					<article class="articulo-producto"> <!--card-->
						<a href="/products/<%=cervezas.id%>"><img src="../images/<%=cervezas.imagen%>" alt="productos"> </a>
						<div class="btn-actions">
						<div class="prices">Nombre: <%=cervezas.nombre%></div>
						<div class="prices">$<%=cervezas.precio%></div>
						<div class="prices"><%=cervezas.descripcion%></div>
						<div class="prices">Stock: <%=cervezas.stock%></div>
					</div>
					<div class="boton-comprar-products">
                        <a href="/products/<%=cervezas.id%>"><button type="submit" class="boton-comprar-products">Comprar</button></a>
                    </div>
					
							
					</article>
					
					<% }) %>
		
						
	</div>
	</div>         
	</main>      
    <%- include ('../partials/footer.ejs') %>  
</body>
</html>