<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
	<main>
		<h3>Espirituosas</h3>			
		<div class="conteiner">
			<div class="botellas"> <!--grid-->
							<% for (let i = 0; i < espirituosas.length; i++) { %>
							<div class="articulo-producto"> <!--card-->
								<a href="/products/<%=espirituosas[i].id%>"><img src="../images/<%=espirituosas[i].imagen%>" alt="productos" class="imagen-destacados-home" > </a>
								<div class="btn-actions">
								<div class="prices">Nombre: <%=espirituosas[i].nombre%></div>
								<div class="prices">$<%=espirituosas[i].precio%></div>
								<div class="prices"><%=espirituosas[i].descripcion%></div>
								</div>
							
							<div class="boton-comprar-products">
								<a href="/products/<%=espirituosas[i].id%>"><button type="submit" class="boton-comprar-products">Comprar</button></a>
							</div>
							</div>
									<% } %>
			</div>
								
							
		</div>    
	</main>
    <%- include ('../partials/footer.ejs') %>  
</body>
</html>