<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
	<main>
	<h4 class="productosE">Espirituosas</h4>			
	<div class="conteiner">
	<section class="botellas"> <!--grid-->
						<% espirituosas.forEach(espirituosas => {%>
							<article class="listadoDeProductos"> <!--card-->
						<a href="/products/<%=espirituosas.id%>"><img src="../images/<%=espirituosas.imagen%>" alt="productos"> </a>
						<div class="btn-actions">
						<p class="prices">Nombre: <%=espirituosas.nombre%></p>
						<p class="prices">$<%=espirituosas.precio%></p>
						<p class="prices"><%=espirituosas.descripcion%></p>
						<p class="prices">Stock: <%=espirituosas.stock%></p>
					</div>
					<div class="boton-comprar-products">
                        <a href="/products/<%=espirituosas.id%>"><button type="submit" class="boton-comprar-products">Comprar</button></a>
                    </div>
					</article>
							<% }) %>
						
					</section>
				</div>    
			</main>           
    <%- include ('../partials/footer.ejs') %>  
</body>
</html>