<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
	<main>
	<h4 class="productosE">Vinos</h4>			
	<div class="conteiner">
	<section class="botellas"> <!--grid-->
						<% vinos.forEach(vinos => {%>
							<article class="listadoDeProductos"> <!--card-->
						<a href="/products/<%=vinos.id%>"><img src="../images/<%=vinos.imagen%>" alt="productos"> </a>
						<div class="btn-actions">
						<p class="prices">Nombre: <%=vinos.nombre%></p>
						<p class="prices"><%=vinos.precio%></p>
						<p class="prices"><%=vinos.descripcion%></p>
						<p class="prices">Stock: <%=vinos.stock%></p>
					</div>
					<div class="boton-comprar-products">
                        <a href="/products/<%=vinos.id%>"><button type="submit" class="boton-comprar-products">Comprar</button></a>
                    </div>
					</article>
							<% }) %>
						
					</section>
				</div>           
			</main>    
    <%- include ('../partials/footer.ejs') %>  
</body>
</html>