<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<!--
<script src="/js/validator.js"></script>
-->
<body>
    <%- include ('../partials/header.ejs') %>
    <!-- Sección principal -->
    <script>
        document.querySelector(".boton-rl").onclick = function(){
            var contraseña = document.querySelector(".contraseña").value;
            var confirmar = document.querySelector(".confirmar").value;
    
            if (contraseña != confirmar){
                alert("Las contraseñas no son iguales, intente de nuevo.")
            } else {
    
                document.getElementById("boton-registro").setAttribute("type", "submit")
    
            }
        };
    </script>
    <section class="registro-login">
        <div class="facebook"> 
            <a href="#"><i class="fab fa-facebook-square"> </i> <span class="registrate-con-facebook"> Registrate con Facebook </span></a>
        </div>
        <div class="division">
            <div class="linea"> </div>
            <div class="o"> o </div>
            <div class="linea"> </div>
        </div>
        <div class="registrate-con-email"> Registrate con tu dirección de email </div>
        <form class="form user-register validate-register-user" action="/users/register" method="POST" enctype="multipart/form-data">
            <div class="datos">
                <input class="validate-register-nombre_y_apellido" type="text" name="nombre_y_apellido" placeholder="Nombre y apellido" value="<%= locals.oldData && locals.oldData.nombre_y_apellido ? oldData.nombre_y_apellido : '' %>">
                <% if (locals.errors && errors.nombre_y_apellido) { %>
                    <div class="text-danger" > <%= errors.nombre_y_apellido.msg %> </div>
                <% } %>    
            </div>
            <div class="datos">
                <input class="validate-register-email" type="email" name="email" placeholder="Email" value="<%= locals.oldData && locals.oldData.email ? oldData.email : '' %>">    
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger" > <%= errors.email.msg %> </div>
                <% } %>
            </div>
            <div class="datos">
                <input class="validate-register-contraseña" type="password" name="contraseña" placeholder="Escriba su contraseña">    
                <% if (locals.errors && errors.contraseña) { %>
                    <div class="text-danger" > <%= errors.contraseña.msg %> </div>
                <% } %> 
            </div>
            <div class="datos">
                <input class="confirmar" type="password" name="confirmar" placeholder="Confirme su contraseña">
                <% if (locals.errors && errors.confirmar) { %>
                    <div class="text-danger" > <%= errors.confirmar.msg %> </div>
                <% } %>     
            </div>
            <div class="datos">
                <div class="categoria-create-edit imagen-de-perfil"> Imagen de perfil: </div>
                <input class="validate-register-avatar" type="file" name="avatar">
                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger" > <%= errors.avatar.msg %> </div>
                    
                <% } %>
            </div> 
            <div class="checkbox">
                <label><input type="checkbox" checked> Quiero recibir promociones </label>
            </div>
            <div class="checkbox">
                <input type="checkbox"> Acepto los <a href="#"> Términos y Condiciones </a> de Drinking Time, de su <a href="#"> Programa VIP </a> y su <a href="#"> Política de Privacidad </a> 
            </div>
            <div class="datos">
                <button class="boton-rl" type="submit"> Registrarme </button>
            </div>
            <div class="datos"> 
                ¿Ya sos cliente? <a href="/users/login"> Iniciar sesión </a> 
            </div>
            
        </form>

        <script>
            document.querySelector(".boton-rl").onclick = function(){
                var contraseña = document.querySelector(".validate-register-contraseña").value;
                var confirmar = document.querySelector(".confirmar").value;
        
                if (contraseña != confirmar){
                    alert("Las contraseñas no son iguales, intente de nuevo.")
                }
            };
        </script>    
           
    </section>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>